*{
   font-family: 'Times New Roman', Times, serif

}

body{
    color: rgb(250, 250, 250); 
    background-color: rgb(46, 44, 44);
    background-image: url(/SiteImages/Backgrounds/Background.gif);
}   

.head{
    background-color: rgb(198, 196, 196);
    background-image: url("/SiteImages/Patterns/Texture50.png");
    color: rgb(0, 0, 0);
    border: inset grey 5px;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 7%;
    margin-right: 7%;
    
    & h1{
        font-size: 50px;
        margin-bottom: -10px;
    }

    & hr{

        height: 5px;
        background-color: black;
        margin-left: 2%;
        margin-right: 2%;

    }
    & h3{
        margin-top: -5px;


    }

}

.flex{
     display: flex;
     gap: 2%;
     align-content: center;
}

.MainLogo{
    margin-top: -13%;
    margin-bottom: -15%;
    width:50%;
    text-align: center;
    image-rendering: pixelated;

}

/*The Left Box will be Latest and News*/
.LeftBox{
    background-color: rgb(125, 92, 135);
    background-image: url("/SiteImages/Patterns/Texture50.png");
    background-blend-mode:multiply;
    border: inset grey 5px;
    color: white;
    font-size: 15px;
    width: 15%;
    height: 650px;
    margin-left: 7%;
    text-align: center;

    & h1{
        text-align: center;
        
    }

    & hr{
        height: 5px;
        background-color: black;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/*The center box will be main content*/
.CenterBox{
    background-color: rgb(118, 72, 141);
    background-image: url("/SiteImages/Patterns/Texture50.png");
    background-blend-mode:multiply;
    border: inset grey 5px;
    color:white;
    width: 68%;



    & h1{
        font-size: 25px;
        text-align: center;
        
    }

    & hr{
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin-left: 2%;
        margin-right: 2%;
    }
}

.CurrentProject{
    color: white;
    background-color: rgb(109, 107, 107);
    background-image: url("/SiteImages/Patterns/Texture50.png");
    background-blend-mode:multiply;
    text-align: center;
    border: solid black 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    height: -10%;
    

    & hr{
        height: 5px;
        background-color: black;
        margin-left: 2%;
        margin-right: 2%;
    }
}

.marquee{

    display: flex;
    gap: 5%;
    padding: 5px;
    height: 25px;
    text-align: center;

}

.NavButton{
    border-style:outset;
    border: 5px black outset;
    background: rgb(166, 166, 203);
    color: rgb(0, 0, 0);
    font-size: 15px;
    box-shadow: 0 2px 5px black;
    text-align: center;
    width: 95%;
    height: 50px;
    margin-bottom: 5px;
    transition-duration: 0.4s;


}

.NavButton:hover{
    background-color: blue;
}

.MyPic{

    height: 30%;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 2%;    


}

.footer{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 9px;
    background-color: rgba(5, 5, 5, 0);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;

    & p{
        text-align: center;
        font-size: 10px;
    }

}




/* All Custom Fonts Below This */

@font-face {
    font-family: Geist;
    src: url("/Fonts/GeistPixel-Regular-VariableFont_ELSH.ttf");
}

